.sc1 {
	width: 100%;
	margin: 5px 0px;
	background-color: #3498DB;
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid black;
}
.sc2 {
	float: right;
	border: 2px solid green;
}
.sc3 {
	color: white;
	float: left;
	border: 2px solid red;
	padding: 5px  0px;
}
.sc4 {
	display: flex;
	flex-direction: row;
	/*width: 168px;*/
	border: 2px solid yellow;
}
.sc4 .facebook-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: 0 0;
	margin: 0px 5px;
}
.sc4 .twitter-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -32px 0px;
	margin: 0px 5px;
}
.sc4 .google-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -125px 0px;
	margin: 0px 5px;
}
.sc4 .instagram-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -63px 0px;
	margin: 0px 5px;
}
@media only screen and (max-width: 400px){
	.sc2 {
		width: 100%;
	}
	.sc3{
		width: 100%;
		text-align: center;
	}
}
